.updates {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.button {
  display: flex;
  justify-content: space-between;
  background: #0000;
  inline-size: 100%;
  padding: 2.5%;
  font-size: 1.5em;
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  font-size: 1.5em;
  font-family: var(--main-font);
  cursor: pointer;
  background-color: var(--accent-color);
  border: 1px solid var(--text-color);
  border-radius: 3px;
  transition: background-color 0.3s;
  &:hover {
    background-color: var(--hover-color);
  }
  &::after {
    transition: all 0.3s;
    content: 'á³';
  }
}

.active::after {
  transform: rotate(90deg);
}

.list {
  list-style: none;
  color: var(--text-color);
  display: flex;
  flex-direction: column-reverse;
  font-size: 1.5em;
  gap: 1em;
  transition: 0.3s all;
  max-block-size: 0;
  border-radius: 3px;
  padding: 2.5%;
}

.item {
  transition: 0.3s all;
  display: flex;
  justify-content: space-between;
  color: #0000;
}

.opened {
  border: 1px solid #fff;
  max-block-size: 300px;
  & > .item {
    color: var(--text-color);
  }
}
