.about {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 25px;
}

.text {
  font-size: 1.5em;
  color: var(--text-color);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-inline-start: 5%;
}