// @import '../../vendor/variables.scss';

.form {
  inline-size: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  font-family: var(--main-font);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  inline-size: 100%;
  background: var(--accent-color);
  padding: 1%;
  font-size: 1.5em;
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  transition: background-color 0.3s;
  &:hover {
    background: var(--hover-color);
  }
}

.buttons {
  inline-size: 100%;
  display: flex;
  gap: 15px;
}

.button {
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  inline-size: 100%;
  padding: 2.5%;
  font-size: 1.5em;
  font-family: var(--main-font);
  background-color: var(--accent-color);
  cursor: pointer;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  transition: background-color 0.3s;
  &:hover {
    background-color: var(--hover-color);
  }
}

.label {
  font-family: var(--main-font);
  text-shadow: var(--box-shadow);
  color: var(--text-color);
  font-size: 1.5em;
}

.setButton {
  inline-size: 50%;
  padding: 1.25%;
}

@media (width < 768px) {
  .form,
  .setButton {
    inline-size: 100%;
  }
}

.butcontainer {
  inline-size: 100%;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.prcon {
  display: flex;
  gap: 1em;
}