.form {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 2.5%;
  font: var(--main-font);
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  transition: all 0.3s;
}

.label {
  font-family: var(--main-font);
  text-shadow: var(--box-shadow);
  color: var(--text-color);
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.input {
  font-family: var(--main-font);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  inline-size: 100%;
  background: var(--accent-color);
  padding: 1%;
  font-size: 1.5em;
  padding: 1.5%;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  transition: background-color 0.3s;
  &:hover {
    background: var(--hover-color);
  }
}

.button {
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  inline-size: 100%;
  padding: 2.5%;
  font-size: 1.5em;
  font-family: var(--main-font);
  background-color: var(--accent-color);
  cursor: pointer;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  transition: background-color 0.3s;
  &:not(:disabled) :hover {
    background-color: var(--hover-color);
  }
  &:disabled {
    opacity: 0.25;
  }
}

.invalid {
  color: #f00;
  font-family: var(--main-font);
  font-size: 1.5em;
}

.link {
  font-family: var(--font-family);
  font-size: 1.5em;
  background: #0000;
  border: 0;
  color: var(--text-color);
  transition: all 0.3s;
  &:hover {
    transform: scale(1.025);
    text-shadow: 0 0 15px var(--text-color);
  }
}

.input:invalid {
  border-color: #f00;
  outline-color: #f00;
}

.input:valid:not([value='']) {
  border-color: #0f0;
  outline-color: #0f0;
}
