.diagram {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 0 2.5%;
  justify-content: space-between;
  inline-size: 100%;
  list-style: none;
  aspect-ratio: 3;
  padding-inline: 10%;
}

@media (width < 768px) {
  .diagram {
    grid-gap: 5% 7.5%;
    aspect-ratio: 0.75;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}