.item {
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  background: var(--accent-color);
  list-style: none;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5%;
}

.date,
.price,
.title {
  color: var(--text-color);
  block-size: 100%;
  padding: 1%;
  text-align: center;
  font-family: var(--main-font);
  font-size: 1.5em;
  background: #0000;
  border: 0;
}

.date:focus,
.price:focus,
.title:focus {
  outline: 1px solid var(--text-color);
}

.price {
  inline-size: 100%;
  text-align: left;
}

.other::before {
  content: '$';
  font-family: var(--main-font);
  padding: 1%;
  font-size: 1.5em;
  margin-inline-end: -15px;
}

.title {
  inline-size: 30%;
  background: #0000;
  color: var(--text-color);
  border: none;
  outline: none;
}

.button {
  color: var(--text-color);
  padding-inline: 2%;
  font-weight: 600;
  font-size: 1.5em;
  background-color: var(--accent-color);
  cursor: pointer;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  transition: background-color 0.3s;
  &:hover {
    background: var(--hover-color);
  }
}

.other {
  display: flex;
  gap: 1em;
  justify-content: center;
  inline-size: 21%;
}

@media (width < 600px) {
  .item {
    flex-direction: column;
    gap: 0.5em;
  }
  .date,
  .title {
    inline-size: 50%;
  }
  .other {
    inline-size: 35%;
  }
}

@media (width < 350px) {
  .date,
  .title {
    inline-size: 100%;
  }
  .other {
    inline-size: 50%;
  }
}
