.text {
  transition: all 0.3s;
  text-align: center;
  color: var(--text-color);
}

.label {
  cursor: pointer;
  block-size: var(--value);
  inline-size: 100%;
  display: flex;
  transition: all 0.3s;

  &:first-child > .catCol {
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
  }
  &:last-child > .catCol {
    border-start-start-radius: 15px;
    border-start-end-radius: 15px;
  }
  .catCol:hover {
    & > .tooltip {
      display: flex;
    }
  }
}

.catCol {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15%;
  justify-content: center;
  align-items: center;
  z-index: 10;
  block-size: 100%;
  background: var(--color);
  inline-size: 100%;
  transition: all 0.3s;
  z-index: 0;
  &:hover {
    z-index: 1;
    & > .tooltip {
      transform: scale(0.8);
      z-index: 1;
    }
    transform: scale(1.05);
  }
}

.tooltip {
  transition: all 0.3s;
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 0.5em;
  padding: 15%;
  top: 0;
  right: 125%;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  background: var(--bg-color);
}
