.select {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  inline-size: 50%;
  background: #ddd;
  color: #000;
  padding: 1%;
  font-size: 1.5em;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.select:hover {
  background: #ccc;
}

.label {
  display: flex;
  inline-size: 50%;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.text {
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.5em;
  font-weight: 500;
}

@media (width < 600px) {
  .label {
    inline-size: 100%;
  }
}

