.list {
  display: flex;
  gap: .5em;
  justify-content: space-between;
  list-style: none;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  block-size: 100%;
  transition: all 0.3s;
}

.github path {
  fill: var(--github-logo);
  transition: all 0.3s;
}

svg:hover {
  transform: scale(1.025);
}
