.list {
  inline-size: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, min-content);
  grid-template-rows: 1fr;
  gap: 1em;
  justify-content: space-between;
  grid-area: 1 / 1 / 1 / 2;
}

.button {
  block-size: 100%;
  color: var(--text-color);
  inline-size: 100%;
  font-size: 1.5em;
  padding: 2.5%;
  text-wrap: nowrap;
  font-family: var(--main-font);
  background-color: #0000;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.025);
    text-shadow: 0 0 15px var(--text-color);
  }
}

.active > .button {
  text-decoration: underline;
}

@media (width < 760px) {
  .nav {
    grid-area: 1 / 1 / 1 / 3;
  }
}

@media (width < 360px) {
  .list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
