.item {
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  background: var(--accent-color);
  list-style: none;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  display: flex;
  inline-size: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2.5%;
}

.color {
  inline-size: 10%;
  padding: 0;
  background: #fff;
}

.name {
  block-size: 100%;
  padding: 1%;
  text-align: center;
  font-family: var(--main-font);
  font-size: 1.5em;
  background: #0000;
  border: 0;
  inline-size: 30%;
  color: var(--text-color);
  border: none;
  outline: none;
}

.button {
  color: var(--text-color);
  padding-inline: 1%;
  font-weight: 600;
  font-size: 1.5em;
  background-color: var(--accent-color);
  cursor: pointer;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  transition: background-color 0.3s;
  &:hover {
    background: var(--hover-color);
  }
}
