.bar {
  display: flex;
  gap: 2.5%;
  flex-direction: column;
}

.column {
	--value: 0%;
  border: 1px solid #000;
	border-radius: 15px;
  background: linear-gradient(0deg, #f007 var(--value), #0000 0);
  block-size: 100%;
  inline-size: 100%;
}

.month {
  block-size: 5%;
  inline-size: 100%;
  text-align: center;
}
