.bar {
  display: flex;
  gap: 2.5%;
  flex-direction: column;
}

.column {
  border: 1px solid #000;
  block-size: 100%;
  inline-size: 100%;
  border-radius: 15px;
  display: flex;
  align-items: end;
}

.value {
  transition: 0.3s;
  --value: 0%;
  background-color: #f00a;
  inline-size: 100%;
  block-size: var(--value);
  border-radius: 15px;
}

.month,
.price {
  block-size: 5%;
  inline-size: 100%;
  text-align: center;
}
