.bar {
  display: flex;
  gap: 5%;
  flex-direction: column;
}

.column {
  border: 1px solid #000;
  block-size: 100%;
  aspect-ratio: .15;
  border-radius: 15px;
  display: flex;
  align-items: end;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.value {
  transition: 0.3s;
  --value: 0%;
  background-color: #f00a;
  inline-size: 100%;
  block-size: var(--value);
  border-radius: 15px;
}

.month,
.price {
  line-height: 100%;
  block-size: 5%;
  inline-size: 100%;
  text-align: center;
}
