@import '../../../vendor/variables.scss';

.bar {
  display: flex;
  gap: 5%;
  flex-direction: column;
}

.column {
  border: 1px solid var(--text-color);
  block-size: 100%;
  aspect-ratio: 0.15;
  border-radius: 15px;
  display: flex;
  align-items: flex-end;
  box-shadow: var(--box-shadow);
}

.value {
  transition: 0.3s;
  --value: 0%;
  background-color: var(--column-color);
  inline-size: 100%;
  block-size: var(--value);
  border-radius: 15px;
}

.month,
.price {
  color: var(--text-color);
  line-height: 100%;
  block-size: 5%;
  inline-size: 100%;
  text-align: center;
}
