.diagram {
  align-self: center;
  display: flex;
  justify-content: space-between;
  inline-size: 100%;
  list-style: none;
  justify-self: center;
}

@media (width < 768px) {
  .diagram {
    inline-size: 75%;
  }
}

@media (width < 360px) {
  .diagram {
    inline-size: 100%;
  }
}