*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10%;
  inline-size: max(350px, 100vw);
  min-block-size: 100vh;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 30px;
  inline-size: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}