*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	min-block-size: 100vh;
}

body {
	padding-inline: 10%;
	inline-size: max(500px, 100vw);
	block-size: 100%;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

#root {
	border: 3px solid #fff;
	border-radius: 5px;
	inline-size: 100%;
	padding: 5%;
	display: flex;
	flex-direction: column;
	gap: 30px;
}