@import './vendor/variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  min-block-size: 100vh;
  // inline-size: 100vw;
  font-family: var(--main-font);
  padding-inline: 20px;
  inline-size: clamp(300px, 100vw, 1000px);
  background: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  transition: all 0.3s;
}
